.breedsInfoPage {  
  height: fit-content;
}

.breedsInfoPage__wrapper {
  margin: 10px 0 30px;
  border-radius: 20px;
  background: #FFF;
  height: fit-content;
  width: 640px;
  height: 100vh;
  padding: 20px;
  margin-bottom: 75px;
  position: relative;
}

.breedsInfoPage__navigationBlock {
  display: flex;
  align-items: center;
}

.breedsInfoPage__backLinkBlock {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #FBE0DC;
}

.breedsInfoPage__backLink {
  position: relative;
  top: 10px;
  left: 10px;
  display: block;
  width: 20px;
  height: 20px;
}

.breedsInfoPage__backLink svg {
  fill: #FF868E;
}

.breedsInfoPage__backLinkBlock:hover {
  background-color: #FF868E;
  cursor: pointer;
}

.breedsInfoPage__backLinkBlock:hover svg {
  fill: #FFFFFF;
}

.breedsInfoPage__nameOfPage {
  margin-left: 10px;
  width: 146px;
  padding: 0 30px;
  height: 40px;
  border-radius: 10px;
  background: #FBE0DC;
  color: #FF868E;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 2px;
}

.breedsInfoPage__breedID {
  margin-left: 10px;
  padding: 0 30px;
  height: 40px;
  border-radius: 10px;
  background: #FF868E;
  color: #FBE0DC;
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 2px;
}

.breedsInfoPage__info {
  margin: 50px auto 75px;
  border-radius: 20px;
  border: 2px solid #FBE0DC;
}

@media all and (max-width: 1290px) {
  .breedsInfoPage__wrapper {
    width: 480px;
    height: fit-content;
  }
}

@media all and (max-width: 980px) {
  .breedsInfoPage {
    margin-top: 80px;
  }
  
  .breedsInfoPage__wrapper {
    width: calc(100% - 40px);
  }
}

@media all and (max-width: 425px) {
  .breedsInfoPage__wrapper {
    padding: 20px 10px;
    width: calc(100% - 20px);
  }

  .breedsInfoPage__nameOfPage {
    padding: 0 10px;
    width: fit-content;
  }
}


