@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

.layout {
  background-color: #F8F8F7;
  height: 100vh;
}

.layout__wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1380px;
  width: 100%;
  height: 100%;
  padding: 30px;
  font-family: 'Jost', sans-serif;
}

.welcome {
  background-color: #F8F8F7;
  margin-left: 117px;
  width: 446px;
  height: 544px;
}

.welcome__title {
  margin: 80px 0 10px;
  color: #1D1D1D;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px;
}

.welcome__text {
  margin: 0 0 60px;
  color: #8C8C8C;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcome__subtitle {
  margin: 0 0 20px;
  color: #1D1D1D;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.welcome__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options__item:hover .options__imageFrame {
  border: 4px solid #FFF;
}

.options__item:hover .options__navLink {
  background-color: #FBE0DC;
  color: #FF868E;
}

.options__imageFrame {
  margin-bottom: 10px;
  width: 130px;
  height: 198px;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.60);
}

.options__voting {
  background: #B4B7FF;
}

.options__voting::after {
  position: absolute;
  top: calc(50% - (125px/2));
  left: calc(50% - 50px);
  content: '';
  display: block;
  width: 100px;
  height: 125px;
  background-image: url('../../images/Welcome/vote-table.png');
}

.options__breeds {
  background: #97EAB9;
}

.options__breeds::after {
  position: absolute;
  top: calc(50% - (125px/2));
  left: calc(50% - 50px);
  content: '';
  display: block;
  width: 100px;
  height: 125px;
  background-image: url('../../images/Welcome/pet-breeds.png');
}

.options__gallery {
  background: #FFD280;
}

.options__gallery::after {
  position: absolute;
  top: calc(50% - (125px/2));
  left: calc(50% - 50px);
  content: '';
  display: block;
  width: 100px;
  height: 125px;
  background-image: url('../../images/Welcome/images-search.png');
}

 .options__navLink {
  position: absolute;
  top: 100%;
  width: 138px;
  height: 36px;
  border: none;
  border-radius: 10px;
  background: #FFF;
  color: #FF868E;
  text-align: center;
  font-family: Jost;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 2px;
  text-decoration: none;
} 

.options__navLink:hover {
  background-color: #FBE0DC;
  color: #FF868E;
  cursor: pointer;
}

/* Breakpoints =========================*/

@media all and (max-width: 1290px) {
  .layout__wrapper {
    padding: 30px 20px;
    max-width: 1004px;
  }

  .welcome {
    margin-left: 0;
    width: 436px;
  }
}

@media all and (max-width: 980px) {
  .layout__wrapper {
    flex-direction: column;
    max-width: 728px;
  }

  .welcome {
    width: 728px;
  }

  .welcome__options {
    width: 70%;
  }
}

@media all and (max-width: 768px) {
  .layout__wrapper {
    padding: 30px 10px;
  }

  .welcome {
    margin-bottom: 60px;
  }
}

@media all and (max-width: 729px) {
  .layout__wrapper {
    width: calc(100% - 20px)
  }
  
  .welcome {
    width: 100%;
  }

  .welcome__options {
    width: 95%;
    margin: 0 auto;
  }
}

@media all and (max-width: 550px) {
  .welcome__options {
    width: 100%;
  }
}

@media all and (max-width: 450px) {
  .options__imageFrame {
    width: 110px;
    height: 150px;
  }
  
  .options__navLink {
    width: 118px;
  }
}

@media all and (max-width: 390px) {
  .options__imageFrame {
    width: 90px;
    height: 150px;
  }

  .options__navLink {
    width: 95px;
  }

  .options__voting::after,
  .options__breeds::after,
  .options__gallery::after {
    left: calc(50% - 45px);
    width: 90px;
  }
}


