.layOutActions {
  width: 680px;
}

.layOutActions__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions__form {
  width: 470px;
  height: 60px;
}

.actions__input {
  position: relative;
  width: 470px;
  height: 60px;
  border-radius: 20px;
  background: #FFF;
  border: 2px solid transparent;
  color: #1D1D1D;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.actions__input:hover {
  border: 2px solid #FBE0DC;
}

.actions__input:active,
.actions__input:focus {
  outline: 2px solid #FF868E;
}

.actions__input::placeholder {
  padding: 15px 20px;
  color: #8C8C8C;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.actions__submitBtn {
  position: relative;
  bottom: calc(50% + 20px);
  left: calc(100% - 50px);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: #FBE0DC;
}

.actions__submitBtn:hover {
  background: #FF868E;
}

.actions__submitBtn svg {
  fill: #FF868E;
}

.actions__submitBtn:hover svg {
  fill: #FFF;
}

.actions__item {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background: #FFF;
}

.actions__item:hover {
  background: #FBE0DC;
  cursor: pointer;
}

.actions__item:active {
  background: #FF868E;
}

.actions__navLnk {
  position: relative;
  top: 15px;
  left: 15px;
}

.actions__navLnk svg {
  fill: #FF868E;
}

.actions__navLnk:active svg {
  fill: #FFF;
}

.actions__navLink_heart {
  top: 17px;
}