.breedsPage {
  margin-top: 10px;
  border-radius: 20px;
  background: #FFF;
}

.breedsPage__wrapper {
  padding: 20px;
  position: relative;
}

.breedsPage__navigationBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breedsPage__backLinkBlock {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #FBE0DC;
}

.breedsPage__backLink {
  position: relative;
  top: 7px;
  left: 10px;
  display: block;
  width: 20px;
  height: 20px;
}

.breedsPage__backLink svg {
  fill: #FF868E;
}

.breedsPage__backLinkBlock:hover {
  background-color: #FF868E;
  cursor: pointer;
}

.breedsPage__backLinkBlock:hover svg {
  fill: #FFFFFF;
}

.breedsPage__nameOfPage {
  width: 146px;
  padding: 5px 30px;
  height: 40px;
  border-radius: 10px;
  background: #FF868E;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 2px;
}

.selectBreed {
  border: 2px solid transparent;
  padding: 8px 10px;
  width: 226px;
  height: 40px;
  border-radius: 10px;
  background: #F8F8F7;
  color: #8C8C8C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.selectBreed:hover {
  outline: 2px solid #FBE0DC;
  cursor: pointer;
}

.selectBreed:active {
  outline: 2px solid #FBE0DC;
}

.selectBreed option {
  border-radius: 30px;
  background: #FFF;
}

.selectLimit {
  padding: 8px;
  width: 101px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 10px;
  background: #F8F8F7;
  color: #8C8C8C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.selectLimit:hover {
  outline: 2px solid #FBE0DC;
  cursor: pointer;
}

.selectLimit:active {
  outline: 2px solid #FBE0DC;
}

.sortIcon {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 10px;
  background: #F8F8F7;
}

.sortIcon svg {
  position: absolute;
  top: 10px;
  left: 11px;
  fill: #8C8C8C;
}

.sortIcon:hover {
  border: 2px solid #FBE0DC;
  cursor: pointer;
}

.sortIcon:hover svg {
  fill: #FF868E;
}

.gridContainer {
  margin-top: 20px;
  display: grid;
  width: 640px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(6, 140px);
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "vr_img_1 img_2 img_3"
    "vr_img_1 hr_img_5 hr_img_5"
    "img_4 hr_img_5 hr_img_5"
    "img_6 img_7 vr_img_8"
    "hr_img_9 hr_img_9 vr_img_8"
    "hr_img_9 hr_img_9 img_10";
}

.vr_img_1 {
  grid-area: vr_img_1;
  border-radius: 20px;
}

.vr_img_1 img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.img_2 {
  grid-area: img_2;
  background-image: url('../../images/proba.jpg');
}

.img_3 {
  grid-area: img_3;
  background-image: url('../../images/proba.jpg');
}

.img_4 {
  grid-area: img_4;
  background-image: url('../../images/proba.jpg');
}

.hr_img_5 {
  grid-area: hr_img_5;
  background-image: url('../../images/proba.jpg');
}

.img_6 {
  grid-area: img_6;
  background-image: url('../../images/proba.jpg');
}

.img_7 {
  grid-area: img_7;
  background-image: url('../../images/proba.jpg');
}

.vr_img_8 {
  grid-area: vr_img_8;
  background-image: url('../../images/proba.jpg');
}

.hr_img_9 {
  grid-area: hr_img_9;
  background-image: url('../../images/proba.jpg');
}

.img_10 {
  grid-area: img_10;
  background-image: url('../../images/proba.jpg');
}

.gridItem {
  border-radius: 20px;
  position: relative;
}

.small {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  border-radius: 20px;
  width: 200px;
  height: 140px;
  background: rgba(255, 134, 142, 0.60);
}

.vertical {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  border-radius: 20px;
  width: 200px;
  height: 300px;
  background: rgba(255, 134, 142, 0.60);
}

.horisontal {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  border-radius: 20px;
  width: 420px;
  height: 300px;
  background: rgba(255, 134, 142, 0.60);
}

.gridItem__name {
  display: inline-block;  
  position: absolute;
  z-index: 3;
  left: 10px;
  bottom: 10px;
  padding-top: 5px;
  width: calc(100% - 20px);
  height: 34px;
  border-radius: 10px;
  background: #FFF;
  color: #FF868E;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0;
}

.gridItem:hover {
  cursor: pointer;
}

.gridItem:hover .gridItem__name,
.gridItem:hover .small,
.gridItem:hover .vertical,
.gridItem:hover .horisontal {
  opacity: 1;
}



