.info__frame {
  padding: 20px 40px;
  position: relative;
  height: fit-content;
}

.info__title {
  position: absolute;
  bottom: calc(100% - 30px);
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  height: fit-content;
  background-color:#FFF;
  border-radius: 20px;
  padding: 5px 0;
  display: block;
  color: #1D1D1D;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}



.info__subtitle {
  margin-top: 6px;
  text-align: center;
  color: #8C8C8C;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.info__flex {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #8C8C8C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info__item {
  width: 45%;
}

.info__flex span {
  color: #1D1D1D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.info__item p {
  display: inline;
}

@media all and (max-width: 426px) {
  .info__frame {
    margin-top: 30px;
    padding: 20px 10px;
  }

  .info__title {
    bottom: calc(100% - 30px)
  }
}

