.homePage {
  height: 100vh;
  width: 680px;
}

.homePage__wrapper {
  height: 840px;
  border-radius: 20px;
  background: #FBE0DC;
}

.homePage__image {
  background-image: url('../../images/HomePage/girl-and-pet.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 775px;
  height: 900px;
  top: 0;
  right: 0;
}

@media all and (max-width: 1305px) {
  .homePage {
    width: 50%;
  }

  .homePage__image {
    width: 50%;
    right: 0;
  }
}

@media all and (max-width: 980px) {
  .homePage {
    display: none;
  }
}