.gridContainer {
  margin-top: 20px;
  display: grid;
  width: 640px;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
  grid-auto-flow: row;
}

.gridCapacity_5 {
  grid-template-areas:
    "vr_img_1 img_2 img_3"
    "vr_img_1 hr_img_5 hr_img_5"
    "img_4 hr_img_5 hr_img_5"
}

.gridCapacity_10 {
  grid-template-areas:
    "vr_img_1 img_2 img_3"
    "vr_img_1 hr_img_5 hr_img_5"
    "img_4 hr_img_5 hr_img_5"
    "img_6 img_7 vr_img_8"
    "hr_img_9 hr_img_9 vr_img_8"
    "hr_img_9 hr_img_9 img_10"
}

.gridCapacity_15 {
  grid-template-areas:
    "vr_img_1 img_2 img_3"
    "vr_img_1 hr_img_5 hr_img_5"
    "img_4 hr_img_5 hr_img_5"
    "img_6 img_7 vr_img_8"
    "hr_img_9 hr_img_9 vr_img_8"
    "hr_img_9 hr_img_9 img_10"
    "vr_img_11 img_12 img_13"
    "vr_img_11 hr_img_15 hr_img_15"
    "img_14 hr_img_15 hr_img_15"
}

.gridCapacity_20 {
  grid-template-areas:
    "vr_img_1 img_2 img_3"
    "vr_img_1 hr_img_5 hr_img_5"
    "img_4 hr_img_5 hr_img_5"
    "img_6 img_7 vr_img_8"
    "hr_img_9 hr_img_9 vr_img_8"
    "hr_img_9 hr_img_9 img_10"
    "vr_img_11 img_12 img_13"
    "vr_img_11 hr_img_15 hr_img_15"
    "img_14 hr_img_15 hr_img_15"
    "img_16 img_17 vr_img_18"
    "hr_img_19 hr_img_19 vr_img_18"
    "hr_img_19 hr_img_19 img_20"
}

.gridItem {
  width: 100%;
  height: 140px;
  position: relative;
}

.gridItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.gridItem:hover {
  cursor: pointer;
}

.gridItem::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  border-radius: 20px;
  width: 100%;
  height: 140px;
  background: rgba(255, 134, 142, 0.60);
}

.gridItem:hover .gridItem__name,
.gridItem:hover .gridItem__icon {
  opacity: 1;
}

.gridItem:nth-of-type(1) {
  grid-area: vr_img_1;
  width: 100%;
  height: 300px;
}

.gridItem:nth-of-type(2) {
  grid-area: img_2;
}

.gridItem:nth-of-type(3) {
  grid-area: img_3;
}

.gridItem:nth-of-type(4) {
  grid-area: img_4;
}

.gridItem:nth-of-type(5) {
  grid-area: hr_img_5;
  width: 100%;
  height: 300px;
}

.gridItem:nth-of-type(6) {
  grid-area: img_6;
}

.gridItem:nth-of-type(7) {
  grid-area: img_7;
}

.gridItem:nth-of-type(8) {
  grid-area: vr_img_8;
  width: 100%;
  height: 300px;
}

.gridItem:nth-of-type(9) {
  grid-area: hr_img_9;
  width: 100%;
  height: 300px;
}

.gridItem:nth-of-type(10) {
  grid-area: img_10;
}

.gridItem:nth-of-type(11) {
  grid-area: vr_img_11;
  width: 100%;
  height: 300px;
}

.gridItem:nth-of-type(12) {
  grid-area: img_12;
}

.gridItem:nth-of-type(13) {
  grid-area: img_13;
}

.gridItem:nth-of-type(14) {
  grid-area: img_14;
}

.gridItem:nth-of-type(15) {
  grid-area: hr_img_15;
  width: 100%;
  height: 300px;
}

.gridItem:nth-of-type(16) {
  grid-area: img_16;
}

.gridItem:nth-of-type(17) {
  grid-area: img_17;
}

.gridItem:nth-of-type(18) {
  grid-area: vr_img_18;
  width: 100%;
  height: 300px;
}

.gridItem:nth-of-type(19) {
  grid-area: hr_img_19;
  width: 100%;
  height: 300px;
}

.gridItem:nth-of-type(20) {
  grid-area: img_20;
}

.gridItem:nth-of-type(1)::after,
.gridItem:nth-of-type(8)::after,
.gridItem:nth-of-type(11)::after,
.gridItem:nth-of-type(18)::after {
  
  width: 100%;
  height: 300px;
 
}

.gridItem:nth-of-type(5)::after,
.gridItem:nth-of-type(9)::after,
.gridItem:nth-of-type(15)::after,
.gridItem:nth-of-type(19)::after {  
  width: 100%;
  height: 300px;
}

.gridItem:hover::after {
  opacity: 1;
}

.gridItem__name {
  display: inline-block;
  position: absolute;
  z-index: 3;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  height: 34px;
  border-radius: 10px;
  background: #FFF;
  color: #FF868E;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-decoration: none;
  opacity: 0;
}

.gridItem__icon {
  position: absolute;
  z-index: 3;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #FFF;
  opacity: 0;
}

.gridItem__icon svg {
  fill: #FF868E;
  position: relative;
  top: 11.5px;
  left: 10px;
}

.gridItem__icon:hover {
  background: #FF868E;
}

.gridItem__icon:hover svg {
  fill: #FFF;
}

@media all and (max-width: 1290px) {
  .gridContainer {
    width: fit-content;
    margin: 20px auto 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .gridCapacity_5 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
  }

  .gridCapacity_10 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
      "img_6 img_7"
      "hr_img_9 vr_img_8"
      "img_10 vr_img_8"
  }

  .gridCapacity_15 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
      "img_6 img_7"
      "hr_img_9 vr_img_8"
      "img_10 vr_img_8"
      "vr_img_11 img_12"
      "vr_img_11 img_13"
      "img_14 hr_img_15"
  }

  .gridCapacity_20 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
      "img_6 img_7"
      "hr_img_9 vr_img_8"
      "img_10 vr_img_8"
      "vr_img_11 img_12"
      "vr_img_11 img_13"
      "img_14 hr_img_15"
      "img_16 vr_img_18"
      "img_17 vr_img_18"
      "hr_img_19 img_20"
  }

  .gridItem:nth-of-type(5) {
    grid-area: hr_img_5;
    width: 100%;
    height: 140px;
  }

  .gridItem:nth-of-type(9) {
    grid-area: hr_img_9;
    width: 100%;
    height: 140px;
  }

  .gridItem:nth-of-type(15) {
    grid-area: hr_img_15;
    width: 100%;
    height: 140px;
  }

  .gridItem:nth-of-type(19) {
    grid-area: hr_img_19;
    width: 100%;
    height: 140px;
  }

  .gridItem:nth-of-type(5)::after,
  .gridItem:nth-of-type(9)::after,
  .gridItem:nth-of-type(15)::after,
  .gridItem:nth-of-type(19)::after {
    width: 100%;
    height: 140px;
  }
}
/* 980px =====================================================*/
@media all and (max-width: 980px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .gridCapacity_5 {
    grid-template-areas:
      "vr_img_1 img_2 img_3"
      "vr_img_1 hr_img_5 hr_img_5"
      "img_4 hr_img_5 hr_img_5"
  }

  .gridCapacity_10 {
    grid-template-areas:
      "vr_img_1 img_2 img_3"
      "vr_img_1 hr_img_5 hr_img_5"
      "img_4 hr_img_5 hr_img_5"
      "img_6 img_7 vr_img_8"
      "hr_img_9 hr_img_9 vr_img_8"
      "hr_img_9 hr_img_9 img_10"
  }

  .gridCapacity_15 {
    grid-template-areas:
      "vr_img_1 img_2 img_3"
      "vr_img_1 hr_img_5 hr_img_5"
      "img_4 hr_img_5 hr_img_5"
      "img_6 img_7 vr_img_8"
      "hr_img_9 hr_img_9 vr_img_8"
      "hr_img_9 hr_img_9 img_10"
      "vr_img_11 img_12 img_13"
      "vr_img_11 hr_img_15 hr_img_15"
      "img_14 hr_img_15 hr_img_15"
  }

  .gridCapacity_20 {
    grid-template-areas:
      "vr_img_1 img_2 img_3"
      "vr_img_1 hr_img_5 hr_img_5"
      "img_4 hr_img_5 hr_img_5"
      "img_6 img_7 vr_img_8"
      "hr_img_9 hr_img_9 vr_img_8"
      "hr_img_9 hr_img_9 img_10"
      "vr_img_11 img_12 img_13"
      "vr_img_11 hr_img_15 hr_img_15"
      "img_14 hr_img_15 hr_img_15"
      "img_16 img_17 vr_img_18"
      "hr_img_19 hr_img_19 vr_img_18"
      "hr_img_19 hr_img_19 img_20"
  }

  .gridItem:nth-of-type(5) {
    grid-area: hr_img_5;
    width: 100%;
    height: 300px;
  }

  .gridItem:nth-of-type(9) {
    grid-area: hr_img_9;
    width: 100%;
    height: 300px;
  }

  .gridItem:nth-of-type(15) {
    grid-area: hr_img_15;
    width: 100%;
    height: 300px;
  }

  .gridItem:nth-of-type(19) {
    grid-area: hr_img_19;
    width: 100%;
    height: 300px;
  }

  .gridItem:nth-of-type(5)::after,
  .gridItem:nth-of-type(9)::after,
  .gridItem:nth-of-type(15)::after,
  .gridItem:nth-of-type(19)::after {
    width: 100%;
    height: 300px;
  }
  
}

/* 750px ==================================*/

@media all and (max-width: 750px) {
  .gridContainer {
    width: fit-content;
    margin: 20px auto 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .gridCapacity_5 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
  }
  
  .gridCapacity_10 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
      "img_6 img_7"
      "hr_img_9 vr_img_8"
      "img_10 vr_img_8"
  }
  
  .gridCapacity_15 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
      "img_6 img_7"
      "hr_img_9 vr_img_8"
      "img_10 vr_img_8"
      "vr_img_11 img_12"
      "vr_img_11 img_13"
      "img_14 hr_img_15"
  }
  
  .gridCapacity_20 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
      "img_6 img_7"
      "hr_img_9 vr_img_8"
      "img_10 vr_img_8"
      "vr_img_11 img_12"
      "vr_img_11 img_13"
      "img_14 hr_img_15"
      "img_16 vr_img_18"
      "img_17 vr_img_18"
      "hr_img_19 img_20"
  }

  .gridItem {
    width: 100%;
    height: 140px;
  }
  
  .gridItem:nth-of-type(5) {
    grid-area: hr_img_5;
    width: 100%;
    height: 140px;
  }
  
  .gridItem:nth-of-type(9) {
    grid-area: hr_img_9;
    width: 100%;
    height: 140px;
  }
  
  .gridItem:nth-of-type(15) {
    grid-area: hr_img_15;
    width: 100%;
    height: 140px;
  }
  
  .gridItem:nth-of-type(19) {
    grid-area: hr_img_19;
    width: 100%;
    height: 140px;
  }
  
  .gridItem::after,
  .gridItem:nth-of-type(5)::after,
  .gridItem:nth-of-type(9)::after,
  .gridItem:nth-of-type(15)::after,
  .gridItem:nth-of-type(19)::after {
    width: 100%;
    height: 140px;
  }

  .gridItem:nth-of-type(1)::after,
  .gridItem:nth-of-type(8)::after,
  .gridItem:nth-of-type(11)::after,
  .gridItem:nth-of-type(18)::after {
    width: 100%;
    height: 300px;
  }
}

@media all and (max-width: 425px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
  }

  .gridCapacity_5 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
  }

  .gridCapacity_10 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
      "img_6 img_7"
      "hr_img_9 vr_img_8"
      "img_10 vr_img_8"
  }

  .gridCapacity_15 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
      "img_6 img_7"
      "hr_img_9 vr_img_8"
      "img_10 vr_img_8"
      "vr_img_11 img_12"
      "vr_img_11 img_13"
      "img_14 hr_img_15"
  }

  .gridCapacity_20 {
    grid-template-areas:
      "vr_img_1 img_2"
      "vr_img_1 img_3"
      "img_4 hr_img_5"
      "img_6 img_7"
      "hr_img_9 vr_img_8"
      "img_10 vr_img_8"
      "vr_img_11 img_12"
      "vr_img_11 img_13"
      "img_14 hr_img_15"
      "img_16 vr_img_18"
      "img_17 vr_img_18"
      "hr_img_19 img_20"
  }

  .gridItem:nth-of-type(5) {
    grid-area: hr_img_5;
    width: 100%;
    height: 280px;
  }

  .gridItem:nth-of-type(9) {
    grid-area: hr_img_9;
    width: 100%;
    height: 280px;
  }

  .gridItem:nth-of-type(15) {
    grid-area: hr_img_15;
    width: 100%;
    height: 280px;
  }

  .gridItem:nth-of-type(19) {
    grid-area: hr_img_19;
    width: 100%;
    height: 280px;
  }

  .gridItem,
  .gridItem:nth-of-type(5),
  .gridItem:nth-of-type(9),
  .gridItem:nth-of-type(15),
  .gridItem:nth-of-type(19),
  .gridItem:nth-of-type(1),
  .gridItem:nth-of-type(8),
  .gridItem:nth-of-type(11),
  .gridItem:nth-of-type(18) {

    width: 100%;
    height: 280px;
  }

  .gridItem::after,
  .gridItem:nth-of-type(5)::after,
  .gridItem:nth-of-type(9)::after,
  .gridItem:nth-of-type(15)::after,
  .gridItem:nth-of-type(19)::after,
  .gridItem:nth-of-type(1)::after,
  .gridItem:nth-of-type(8)::after,
  .gridItem:nth-of-type(11)::after,
  .gridItem:nth-of-type(18)::after {
      width: 100%;
      height: 280px;
  }
}
